@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root{
  --blue: #324cdd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --lightPurple:#7571f9;
  --pink: #e83e8c;
  --red: #ec0c38;
  --orange: #ffae00;
  --darkorange: #fa3a0e;
  --green: #2dce89;
  --teal: #00A9A2;
  --cyan: #11cdef;
  --white: #fff;
  --gray: #f7fafc;
  --gray-dark: #333333;
  --secondary: #9097c4;
  --primary:#5CD2BB;
    
}
h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3 {
  
  font-size: 1.3em;
}
.loader-container{
  position: absolute;
  
  width: 1002px;
  height: 500px;
  
  background-color: rgba(0, 0, 0, 0.726);
}
.loader {
  position: relative;
  left: 50%;
  top: 45%;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid var(--pink);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.top-buffer{
    margin-top: 50px;
}
/*NAVBAR */
#navbar-custom{
    background-color: #141414;
    position: relative;
    height: 60px;
   
  
}
/*SIDE MENU*/
.main-menu{
  background:#212121;
}
.fa {
  width: 36px;
  height: 36px;
  text-align: center;
  
  font-size:20px;
}
.side-menu-container{
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
}
.side-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background:#212121;
  padding: 10px;
  padding-top: 20px;
  height:calc(100%);
  transform: translateY(-1px);
  
  /* transition:width .2s linear; */
  
}

/* .side-menu:hover{
  width:280px;
  overflow:hidden;
} */

.side-menu li {
  margin-bottom: 10px;
  position:relative;
  display:flex;
  flex-direction:column;
  min-width: 100%;
}

.side-menu a {
  color:#999;
  text-decoration:none;
}

.side-menu ul{
  outline:0;
  margin:0;
  padding:0;
  width: 100%;
}
@media (max-width:992px) {
  .side-menu ul{
    width: 300px;
  }
}

.maze-select{
  font-size: .9em;
}
.maze-functions select{
  width: 100%;
}
.small-select-text{
  font-size: .8em;
  height: 38px;
}
/*MENU ADD WALL SLIDER*/
.draw-btn{
  background-color: var(--secondary);
}
.draw-btn:hover{
  background-color: rgb(152, 152, 252);
}
.tool-btn{
  background-color: var(--lightPurple);
}

.tool-btn:hover{
  background-color: var(--indigo);
}
.active-tool{
  background-color: blue;
}

.viz-btn{
  background-color: var(--pink);
}
.viz-btn:hover{
  background-color: #d10062;
}


/*GRID */
.disabled{
  background-color: crimson;
}
#grid{
  /* width: 100%; */
  margin: auto;
  margin-top: 50px;
}
.row-container{
    margin: 0;
    padding: 0;
}

.box-node-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 20px;
    height:20px;
    float:left;
    border:1px solid lightgray;
}
.box-node-container:hover{
    background-color: rgba(193, 255, 255, 0.637);
    
}
.box-node{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
    
}
.box-node:hover, .grid-box:hover{
    background-color: rgb(178, 247, 235);
}

.visited-node{
    background: white;
    -webkit-animation: color-fade 1s;
    animation: color-fade 1s;

}
@media (max-width: 1270px) {

  /* .loader-container{
    width: 752px;
    height: 377px;
  } */
  .box-node-container{
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 762px) {

  /* .loader-container{
    width: 752px;
    height: 377px;
  } */
  .box-node-container{
    width: 10px;
    height: 10px;
  }
}

@-webkit-keyframes color-fade {
  0% {
    background: cyan;
  }
  
  100% {
    background: rgb(255, 255, 255)
  }
}
@keyframes color-fade {
  0% {
    background: cyan;
  }
  
  100% {
    background: rgb(255, 255, 255)
  }
}

.path-node{
  background-color: gold; 

  animation: color-fade-path .5s;
  -webkit-animation: color-fade-path .5s;
}

@keyframes color-fade-path {
  0% {
    background: orangered;
  }
  
  100% {
    background: gold
  }
}

@-webkit-keyframes color-fade-path {
  0% {
    background: orangered;
  }
  
  100% {
    background: gold
  }
}

.visited-node-loop{
  background-color: rgb(255, 255, 255);
  -webkit-animation: color-fade-loop 2s infinite;
  animation: color-fade-loop 2s infinite;

}

@-webkit-keyframes color-fade-loop {
  0% {
    background: cyan;
  }
  
  100% {
    background: rgb(255, 255, 255)
  }
}
@keyframes color-fade-loop {
  0% {
    background: cyan;
  }
  
  100% {
    background: rgb(255, 255, 255)
  }
}


.path-node-loop{
  background-color: gold; 

  animation: color-fade-path-loop 2s infinite;
  -webkit-animation: color-fade-path-loop 2s infinite;
}

@keyframes color-fade-path-loop {
  0% {
    background: orangered;
  }
  
  100% {
    background: gold
  }
}

@-webkit-keyframes color-fade-path-loop {
  0% {
    background: orangered;
  }
  
  100% {
    background: gold
  }
}

.wall-node{
  background-color: grey;
  
}



.start-node::after{
    content: '';
    
    background-image: url("../images/arrow.svg");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--primary);
   
}

.end-node::after{
    content: '';
    background-image: url("../images/circle.svg");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(253, 93, 125);

}


.start-node:hover, .end-node:hover{
    background-color: rgb(72, 255, 0);
}

.start-node.end-node:before{
  content: '';
  width: 14px;
  height: 100%;
  border-radius: 15px 0 0 15px;
  background-color: var(--primary);
}

.start-node.end-node:after{
  content: '';
  width: 14px;
  height: 100%;
  border-radius:0 15px 15px 0 ;
  background-color: crimson;
}

