{% extends "base.html" %}
{% load static %}
{% block content %}

<div class=" pathfinder-select container mt-4">
    <div class="">
        <h3 class="text-center">Pathfinder Visualizer</h3>
        <div class="text-center">
            <select class="btn btn-light" name="Algorithims" id="algorithims">
                <option class="text-start" value="">Select Algorithim</option>
                <option class="text-start" selected="selected" value="dijkstra">Dijkstra</option>
            </select>
            <button id="pathfinderbtn" class="tools btn viz-btn text-light" onclick="pathfinder()">Start</button>
        </div>
    </div>
</div>
<div class="container app ">
    
    <div class=" menu-contianer top-buffer text-light text-start justify-content-between text-center">
        <div class="text-start ">
            <h3 class="text-dark">Draw Tools</h3>
            <div class="tool-container">
                <button id="add-wall" class="btn tools draw-btn text-light" >Add Walls <i class="fas fa-paint-brush"></i></button>
        
                <button id="remove-wall" class="btn tools draw-btn text-light">Remove Walls <i class="fas fa-eraser"></i></i></button>
            </div>
        </div>
        
        <div class="menu-item text-start ">  
            <h3 class="text-dark">Maze Generator</h3>
            <div>
                <select class="btn btn-light text-left col-6 small-select-text"  name="Maze" id="maze">
                    
                    <option class="text-start" value="">Select Maze</option>
                    <option class="text-start" selected="selected" value="recursiveDiv">Recursive Division</option>
                </select>
                <button id="mazebtn"class="tools btn viz-btn text-light col-5" onclick="generateMaze()">Start</button>
            </div>
        </div>
        <div class="menu-item  clear-functions text-start  ">
            <h3 class="text-dark">Clear Board</h3>
            <div class="tool-container">
                <button class="tools btn tool-btn text-light" onclick="clearWalls()">Clear Walls</button>
                <button class="tools btn tool-btn text-light" onclick="clearVisit()">Clear Path</button>
                <button class="tools btn tool-btn text-light" onclick="resetBoard()">Reset Board</button>
            </div>
        </div>
        
    </div>
    
    <div>
        
        <div class=" mx-auto grid" id="grid">
            <div hidden id="loader-container" class="loader-container ">
                <div class="loader"></div>
            </div>
            
        </div>
        
    </div>
</div>


{% endblock content %}